<p>
  Enable Grid:
  <input type="checkbox" [(ngModel)]="enableGrid">
</p>
<p>
  Enable Transform:
  <input type="checkbox" [(ngModel)]="enableTransform">
</p>
<p>
  Active Tool:
  <select [(ngModel)]="activeTool">
    <option [ngValue]="tool" *ngFor="let tool of tools">{{ tool.name }}</option>
  </select>
  {{ activeTool.name }}
</p>
<p>
  <app-knitpaint-canvas
    [knitpaint]="someKnitpaint"
    [enableGrid]="enableGrid"
    [activeTools]="getActiveTools()"></app-knitpaint-canvas>
</p>

<app-tooltip></app-tooltip>
