.wrapper {
  width: 100%;
  height: 100%;
  display: flex;

  .design, .ideas {
    width: 50%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;

    .header {
      text-align: center;
    }

    .knitpaint {
      flex-grow: 1;
      overflow-y: scroll;
    }

    .toolbar {
      height: 52px;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  app-color-picker {
    width: 100%;
  }

  .export-buttons {
    padding: 8px;
  }

  .model, .temperature {
    padding: 8px;
    span {
      display: block;
    }
  }

  .tmg-logo {
    text-align: right;

    svg {
      margin-top: 12px;
      height: 32px;
    }
  }
}
