<mat-tab-group>
  <mat-tab label="Recommended Colors">
    <div class="color-numbers">
      <button mat-button *ngFor="let colorNumber of recommendedColorNumbers" class="color-number"
           (click)="pickColor(colorNumber)" appTapClick>
        <span class="color"
             [style.backgroundColor]="getBackgroundColorStr(colorNumber)"
             [style.color]="getTextColorStr(colorNumber)">{{ colorNumber }}</span>
        <span class="label">{{ getLabelText(colorNumber) }}</span>
      </button>
    </div>
  </mat-tab>
  <mat-tab label="All Colors">
    <div class="color-numbers">
      <button mat-button *ngFor="let colorNumber of colorNumbers" class="color-number"
              (click)="pickColor(colorNumber)" appTapClick>
        <span class="color"
              [style.backgroundColor]="getBackgroundColorStr(colorNumber)"
              [style.color]="getTextColorStr(colorNumber)">{{ colorNumber }}</span>
        <span class="label">{{ getLabelText(colorNumber) }}</span>
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
