@import "../../editor-constants";

:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;

  app-knitpaint-canvas {
    width: 100%;
    height: 100%;
  }
}

.save {
  position: absolute;
  top: 5px;
  right: 5px;

  /deep/ mat-icon {
    font-size: 18px;
    cursor: pointer;
    color: $inactive;
    transition: 0.2s color;

    &:hover {
      color: $active;
    }
  }
}
