<div class="tools">
  &nbsp;
</div>
<div class="patterns">
  <ng-container *ngFor="let index of patternIndices">
    <div class="pattern" *ngIf="!getPattern(index) || (!getPattern(index).syntax_error && !getPattern(index).knit_error) || !hideProblematic">
      <app-pattern [knitpaint]="getPattern(index)"
                   [saved]="isPatternSaved(getPattern(index))"
                   (savedChange)="toggleSavePattern(getPattern(index))"
                   [showThumbnail]="showThumbnails"></app-pattern>
    </div>
  </ng-container>

  <!-- Fill divs are required to fix the centered layout -->
  <div class="fill" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8]"></div>

  <div class="more" [hidden]="!isMoreAvailable()">
    <button mat-button (click)="loadMorePatterns()">Load more...</button>
  </div>
</div>
<div class="sidebar">
  <div class="parameters">
    <div class="title">Parameters</div>


    <!-- Style -->
    <div class="category">Style</div>
    <div class="parameter">
      <div class="label">Links</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" [value]="categoryWeights.links"
                    (input)="setSamplingOptions(categoryWeights, 'links', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ categoryWeights.links | percent }}</div>
    </div>
    <div class="parameter">
      <div class="label">Miss</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" value="0.5" [value]="categoryWeights.miss"
                    (input)="setSamplingOptions(categoryWeights, 'miss', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ categoryWeights.miss | percent }}</div>
    </div>
    <div class="parameter">
      <div class="label">Tuck</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" value="0.5" [value]="categoryWeights.tuck"
                    (input)="setSamplingOptions(categoryWeights, 'tuck', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ categoryWeights.tuck | percent }}</div>
    </div>
    <div class="parameter">
      <div class="label">Stitch Move</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" value="0.5" [value]="categoryWeights.stitchMove"
                    (input)="setSamplingOptions(categoryWeights, 'stitchMove', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ categoryWeights.stitchMove | percent }}</div>
    </div>
    <div class="parameter">
      <div class="label">Cable</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" value="0.5" [value]="categoryWeights.cable"
                    (input)="setSamplingOptions(categoryWeights, 'cable', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ categoryWeights.cable | percent }}</div>
    </div>


    <!-- Sampling -->
    <div class="category">Sampling</div>
    <div class="parameter sampling-method">
      <div class="label">Method</div>
      <div class="select">
        <mat-form-field>
          <mat-select [value]="samplingMethod" (valueChange)="setSamplingOptions(samplingMethod, null, $event)">
            <mat-option value="greedy">Greedy Sampling</mat-option>
            <mat-option value="stochastic">Stochastic Sampling</mat-option>
            <mat-option value="beam-search">Beam Search</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Stochastic options -->
    <ng-container *ngIf="samplingMethod === 'stochastic'">
      <div class="parameter temperature">
        <div class="label">Randomness</div>
        <div class="slider">
          <mat-slider min="0.01" max="2" step="0.01" [value]="stochasticOptions.temperature"
                      (input)="setSamplingOptions(stochasticOptions, 'temperature', $event.value)"></mat-slider>
        </div>
        <div class="value">{{ stochasticOptions.temperature }}</div>
      </div>
    </ng-container>

    <!-- Beam search options -->
    <ng-container *ngIf="samplingMethod === 'beam-search'">
      <div class="parameter temperature">
        <div class="label">Temperature</div>
        <div class="slider">
          <mat-slider min="0.5" max="5" step="0.1" [value]="beamSearchOptions.temperature"
                      (input)="setSamplingOptions(beamSearchOptions, 'temperature', $event.value)"></mat-slider>
        </div>
        <div class="value">{{ beamSearchOptions.temperature }}</div>
      </div>
      <div class="parameter beam-width">
        <div class="label">Beam Width</div>
        <div class="slider">
          <mat-slider min="1" max="16" step="1" [value]="beamSearchOptions.k"
                      (input)="setSamplingOptions(beamSearchOptions, 'k', $event.value)"></mat-slider>
        </div>
        <div class="value">{{ beamSearchOptions.k }}</div>
      </div>
      <div class="parameter length-normalization">
        <div class="label">Len. Normalize</div>
        <div class="toggle">
          <mat-slide-toggle [ngModel]="beamSearchOptions.lengthNormalization"
                            (ngModelChange)="setSamplingOptions(beamSearchOptions, 'lengthNormalization', $event)"></mat-slide-toggle>
        </div>
      </div>
      <div class="parameter length-bonus">
        <div class="label">Len. Bonus</div>
        <div class="slider">
          <mat-slider min="0" max="2" step="0.01" [value]="beamSearchOptions.lengthBonusFactor"
                      (input)="setSamplingOptions(beamSearchOptions, 'lengthBonusFactor', $event.value)"></mat-slider>
        </div>
        <div class="value">{{ beamSearchOptions.lengthBonusFactor }}</div>
      </div>
    </ng-container>

    <!-- Preview -->
    <div class="category">Preview</div>
    <div class="parameter preview-toggle">
      <div class="label wide-label">Rendering</div>
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="showThumbnails"></mat-slide-toggle>
      </div>
    </div>
    <div class="parameter preview-toggle">
      <div class="label wide-label">Hide problematic</div>
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="hideProblematic"></mat-slide-toggle>
      </div>
    </div>
  </div>
  <app-patterns-bar [allowRemoval]="true"></app-patterns-bar>
</div>
