<div class="tools">
  &nbsp;
</div>
<div class="patterns">
  <div class="pattern" *ngFor="let index of patternIndices" [class.loading]="!getPattern(index)">
    <app-pattern [knitpaint]="getPattern(index)"
                 [saved]="isPatternSaved(getPattern(index))"
                 (savedChange)="toggleSavePattern(getPattern(index))"></app-pattern>
  </div>

  <!-- Fill divs are required to fix the centered layout -->
  <div class="fill" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>

  <div class="more" [hidden]="!isMoreAvailable()">
    <button mat-button (click)="loadMorePatterns()">Load more...</button>
  </div>
</div>
<div class="sidebar">
  <div class="ai-parameters">
    <div class="title">AI-Parameters</div>
    <div class="category">Style</div>
    <div class="parameter">
      <div class="label">Links</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" [value]="samplingOptions.links"
                    (input)="this.setSamplingOptions('links', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ samplingOptions.links | percent }}</div>
    </div>
    <div class="parameter">
      <div class="label">Miss</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" value="0.5" [value]="samplingOptions.miss"
                    (input)="this.setSamplingOptions('miss', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ samplingOptions.miss | percent }}</div>
    </div>
    <div class="parameter">
      <div class="label">Tuck</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" value="0.5" [value]="samplingOptions.tuck"
                    (input)="this.setSamplingOptions('tuck', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ samplingOptions.tuck | percent }}</div>
    </div>
    <div class="parameter">
      <div class="label">Stitch Move</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" value="0.5" [value]="samplingOptions.stitchMove"
                    (input)="this.setSamplingOptions('stitchMove', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ samplingOptions.stitchMove | percent }}</div>
    </div>
    <div class="parameter">
      <div class="label">Cable</div>
      <div class="slider">
        <mat-slider min="0" max="1" step="0.01" value="0.5" [value]="samplingOptions.cable"
                    (input)="this.setSamplingOptions('cable', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ samplingOptions.cable | percent }}</div>
    </div>
    <div class="category">Options</div>
    <div class="parameter sampling-method">
      <div class="label">Method</div>
      <div class="select">
        <mat-form-field>
          <mat-select [value]="samplingOptions.method" (valueChange)="setSamplingOptions('method', $event)">
            <mat-option value="greedy">Greedy Sampling</mat-option>
            <mat-option value="stochastic">Stochastic Sampling</mat-option>
            <mat-option value="beam-search">Beam Search</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="parameter temperature" *ngIf="samplingOptions.method === 'stochastic'">
      <div class="label">Randomness</div>
      <div class="slider">
        <mat-slider min="0.01" max="2" step="0.01" value="0.5" [value]="samplingOptions.temperature"
                    (input)="this.setSamplingOptions('temperature', $event.value)"></mat-slider>
      </div>
      <div class="value">{{ samplingOptions.temperature }}</div>
    </div>
  </div>
  <app-patterns-bar [allowRemoval]="true"></app-patterns-bar>
</div>
