<div class="tools">
  &nbsp;
</div>
<div class="patterns">
  <div class="pattern" *ngFor="let index of patternIndices" [class.loading]="!getPattern(index)">
    <app-pattern [knitpaint]="getPattern(index)"
                 [saved]="isPatternSaved(getPattern(index))"
                 (savedChange)="toggleSavePattern(getPattern(index))"></app-pattern>
  </div>

  <!-- Fill divs are required to fix the centered layout -->
  <div class="fill" *ngFor="let i of [0, 1, 2, 3, 4, 5]"></div>

  <div class="more" [hidden]="!isMoreAvailable()">
    <button mat-button (click)="loadMorePatterns()">Load more...</button>
  </div>
</div>
<div class="sidebar">
  Saved:
  <p *ngFor="let pattern of getSavedPatterns()">{{ pattern.width }}</p>
</div>
