<div class="nav">
  <ul>
    <li class="step">
      <a (click)="setup()" [class.active]="isSetup()">
        1. Set up your project
      </a>
    </li>
    <li class="step">
      <a (click)="patterns()" [class.active]="isPatterns()">
        2. Pick your patterns
      </a>
    </li>
    <li class="step">
      <a (click)="assembly()" [class.active]="isAssembly()">
        3. Assemble your knitting
      </a>
    </li>
    <li class="options" (click)="toggleMoreOverlay()">
      <i class="material-icons">more_horiz</i>
    </li>
  </ul>
</div>

<div class="more-overlay" [hidden]="!moreOverlayVisible">
  <ul>
    <li class="item" (click)="newProject()">New project</li>
    <li class="item" (click)="openProject()">Open project</li>
    <li class="item" (click)="saveProject()">Save project</li>
    <li class="break"></li>
    <li class="item" (click)="exportDat()">Export to APEX</li>
    <li class="item" (click)="importDat()">Import from APEX</li>
    <li class="item disabled" (click)="exportImage()">Export as Image</li>
    <li class="item disabled" (click)="importImage()">Import from Image</li>
    <li class="break"></li>
    <li class="item" [class.disabled]="!undoAvailable()" (click)="undo()">Undo</li>
    <li class="item" [class.disabled]="!redoAvailable()" (click)="redo()">Redo</li>
  </ul>
</div>
