.color-wrapper {
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  background-color: #f0f0f0;

  .color {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px 2px;
    border: 2px solid transparent;
    line-height: 40px;
    text-align: center;
    cursor: pointer;

    &.selected {
      border-color: rgb(0, 174, 239);
    }
  }
}
