<div class="tools">
  <app-toolbar
    [activeTools]="activeToolClasses"
    (activeToolChange)="activateToolClasses($event)"
    [(activeColorNumber)]="colorNumber"></app-toolbar>
</div>
<div class="knitpaint">
  <app-knitpaint-canvas #knitpaintCanvas
                        [knitpaint]="knitpaint"
                        (knitpaintChanged)="setAssembly($event)"></app-knitpaint-canvas>
</div>
<div class="sidebar">
  <app-tool-options [activeTools]="getActiveTools()"></app-tool-options>
  <app-patterns-bar [allowRemoval]="true" [allowSelection]="true" [(selection)]="selectedPattern"></app-patterns-bar>
</div>
