@import "../editor-constants";

:host {
  display: flex;
  position: relative;
}

.tools {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 4px 0 0;

  app-toolbar {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.knitpaint {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;

  app-knitpaint-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  width: 300px;
  margin: 0 0 0 4px;
  background-color: $panel-background;
}
