<i class="material-icons"
   (click)="setDrawTool()" appTapClick
   [class.selected]="isDrawTool()"
   appTooltip="Draw Tool">brush</i>
<i class="material-icons"
   (click)="setRectangleTool()" appTapClick
   [class.selected]="isRectangleTool()"
   appTooltip="Rectangle Tool">crop_din</i>
<i class="material-icons"
   (click)="setColorPickerTool()" appTapClick
   [class.selected]="isColorPickerTool()"
   appTooltip="Color Picker">colorize</i>
<i class="material-icons"
   (click)="setSelectionTool()" appTapClick
   [class.selected]="isSelectionTool()"
   appTooltip="Selection Tool">crop_free</i>
<i class="material-icons"
   (click)="setTextureTool()" appTapClick
   [class.selected]="isTextureTool()"
   appTooltip="Texture Tool">texture</i>
