:host {
  display: block;
  text-align: center;
}

.wrapper {
  display: inline-block;
  position: relative;

  canvas {
    display: block;
    margin: 0 auto;

    &.enable-selection {
      cursor: row-resize;
    }
  }
}
